/* src/app.css */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Damit das Bild vertikal zentriert wird */
}

.centered-logo {
  max-width: 300px; /* Größe des Logos anpassen, falls notwendig */
  height: auto;
}
