/* src/components/greeting.css */
.greeting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* optional: für vertikale Zentrierung */
}

.greeting-logo {
  max-width: 40%;
  height: auto;
}
