.navbar {
  display: flex;
  justify-content: center;
  background-color: #5d4037; /* Schokoladenbraun */
  padding: 15px;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: center;
}

.navbar-item {
  margin: 0 15px;
}

.navbar-item a {
  color: #d7b39d; /* Hellbraun */
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
}

.navbar-item a:hover {
  color: #ffffff;
}

.highlight-button-container {
  margin-left: auto;
}

.highlight-button {
  background-color: #d7b39d; /* Hellbraun */
  color: #5d4037; /* Dunkelbraun */
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.highlight-button:hover {
  background-color: #b5947c; /* Etwas dunkleres Hellbraun */
}
