/* src/components/navbar.css */
.navbar {
  background-color: #4e342e; /* Schokoladenbraun als Hintergrundfarbe */
  padding: 10px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-item {
  font-weight: bold;
}

.navbar-item a {
  color: #d2b48c; /* Pastellbraun für die Schriftfarbe */
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.navbar-item a:hover {
  background-color: #795548; /* Dunkleres Schokoladenbraun für den Hover-Effekt */
  border-radius: 4px;
}

.navbar-item a:visited {
  color: #b2957a; /* Etwas dunklerer Pastellton für besuchte Links */
}
